{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn more</title>
    <link rel="stylesheet" href="{% static  'css/Styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/"> <img src="{% static 'css/Images/Screenshot 2023-05-21 120544.png'%}"  class="logo"></a>
        <ul id="navbar">
            <li><a href="index(Homepage).html">Overview</a></li>
            <li><a  class="active" href="Companies.html">Find Companies</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="support.html">Support</a></li>
        </ul>
    
    </div>

    <section class="Details">
        <div class="dimageg">
            
        </div>
        <div class="ddetails">
            <h1>Google</h1>
            <h2>About the Company</h3>
                <p>Google is a multinational technology company that specializes in Internet-related services and products. Founded in 1998 by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University, Google has since become one of the most influential and dominant companies in the tech industry.
                    
                   <br><br>Google's mission is to organize the world's information and make it universally accessible and useful. The company achieves this through its wide range of products and services<br><br>

                   Beyond its products, Google is also known for its commitment to innovation and research. The company invests significant resources in exploring emerging technologies, conducting groundbreaking research, and supporting open-source projects.<br><br>
                   Furthermore, Google has a strong corporate culture that emphasizes creativity, employee empowerment, and a flexible work environment. Its headquarters, known as the Googleplex, in Mountain View, California, is renowned for its unique office spaces and employee perks.<br><br>

                   Overall, Google's impact on the digital landscape and its continuous pursuit of technological advancements have firmly established it as a global leader in the tech industry, shaping the way people access information, communicate, and interact with technology.</p>

        
        <h2>Job Opennings</h2>
        <div class="job-container">
            
            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Full-Stack Developer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Contractual/Temporary</p>
                </div>
                <p class="date">Posted 4 Hours ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Java Developer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 3 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>HR Manager</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 4 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Product Executive</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 5 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Front-End Developer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Contractual/Temporary</p>
                </div>
                <p class="date">Posted 10 days ago</p>
            </div>
            </div>



        </div>
    </div>
    </section>
    
    <section class="search">
        <h3>Find other companies</h3>
        <form  class="jform"action="" >
            <input type="text" placeholder="Company name">
            <button type="Submit">Submit</button>
        </form>
    </section>
    <section class="newsletter">
        <div class="newstext">
            <h1>Sign Up for Newsletters</h1>
            <p>Get e-mail updates about latest recruitment details</p>
        </div>
        <form  class="form" action="">
            <input type="text" placeholder="Enter your mail address">
            <button>Sign-Up</button>
        </form>
    </section>

    <footer class="sectionp1">
        <div class="col">
            <img src="{% static 'css/Images/Screenshot 2023-05-21 120544.png'%}" alt="">
            <p><strong>Address:</strong>C. d'Arístides Maillol, 12, 08028 Hyderabad</p>
            <p><strong>Phone:</strong>(+91) 9059301111/(+91) 7842759904</p>
            <p><strong>Hours:</strong> 9:30 - 1:30</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <a href="#" class="fa fa-facebook"></a>  
                    <a href="#" class="fa fa-twitter"></a>  
                    <a href="#" class="fa fa-pinterest"></a>  
                    <a href="#" class="fa fa-linkedin"></a>  
                    <a href="#" class="fa fa-instagram"></a>  
                    <a href="#" class="fa fa-youtube"></a>  
    
                </div>
            </div>
        </div>
        <div class="col1">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
    </footer>
    
</body>
</html>