{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn more</title>
    <link rel="stylesheet" href="{% static  'css/Styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/"> <img src="{%static 'css/Images/Screenshot 2023-05-21 120544.png'%}"  class="logo"></a>
        <ul id="navbar">
            <li><a href="index(Homepage).html">Overview</a></li>
            <li><a  class="active" href="Companies.html">Find Companies</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="support.html">Support</a></li>
        </ul>
    
    </div>

    <section class="Details">
        <div class="dimageibm">
            
        </div>
        <div class="ddetails">
            <h1>IBM</h1>
            <h2>About the Company</h3>
                <p>IBM (International Business Machines Corporation) is a multinational technology company that has been at the forefront of innovation and technology solutions for over a century. Founded in 1911, IBM has evolved from a manufacturer of punch card tabulating machines to a leading provider of advanced technologies and consulting services.
                    
                   <br><br>IBM serves clients across various sectors, including finance, healthcare, retail, manufacturing, government, and more. Its client base includes small businesses, midsize enterprises, and large multinational corporations.<br><br>

                   IBM is committed to research and development, investing heavily in emerging technologies and driving innovation. The company has a long-standing reputation for its scientific research, and it holds a significant number of patents in various technology domains.<br><br>
                   IBM also values corporate social responsibility and sustainability, striving to make a positive impact through initiatives focused on environmental conservation, education, and community development.<br><br>

                   Overall, IBM is recognized for its vast technological expertise, extensive product and service offerings, and its commitment to helping organizations leverage advanced technologies to solve complex problems and drive digital transformation.</p>

        <h2>Job Opennings</h2>
        <div class="job-container">
            
            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Back-end Developer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Contractual/Temporary</p>
                </div>
                <p class="date">Posted 9 Hours ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Software Engineer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 3 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Cloud Architect</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 4 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Sales Executive</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 5 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Cloud Engineer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Contractual/Temporary</p>
                </div>
                <p class="date">Posted 10 days ago</p>
            </div>
            </div>



        </div>
    </div>
    </section>
    
    <section class="search">
        <h3>Find other companies</h3>
        <form  class="jform"action="" >
            <input type="text" placeholder="Company name">
            <button type="Submit">Submit</button>
        </form>
    </section>
    <section class="newsletter">
        <div class="newstext">
            <h1>Sign Up for Newsletters</h1>
            <p>Get e-mail updates about latest recruitment details</p>
        </div>
        <form  class="form" action="">
            <input type="text" placeholder="Enter your mail address">
            <button>Sign-Up</button>
        </form>
    </section>

    <footer class="sectionp1">
        <div class="col">
            <img src="{%static 'css/Images/Screenshot 2023-05-21 120544.png'%}" alt="">
            <p><strong>Address:</strong>C. d'Arístides Maillol, 12, 08028 Hyderabad</p>
            <p><strong>Phone:</strong>(+91) 9059301111/(+91) 7842759904</p>
            <p><strong>Hours:</strong> 9:30 - 1:30</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <a href="#" class="fa fa-facebook"></a>  
                    <a href="#" class="fa fa-twitter"></a>  
                    <a href="#" class="fa fa-pinterest"></a>  
                    <a href="#" class="fa fa-linkedin"></a>  
                    <a href="#" class="fa fa-instagram"></a>  
                    <a href="#" class="fa fa-youtube"></a>  
    
                </div>
            </div>
        </div>
        <div class="col1">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
    </footer>
    
</body>
</html>