{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn more</title>
    <link rel="stylesheet" href="{% static  'css/Styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/"> <img src="{% static 'css/Images/Screenshot 2023-05-21 120544.png' %}"  class="logo"></a>
        <ul id="navbar">
            <li><a href="index(Homepage).html">Overview</a></li>
            <li><a  class="active" href="Companies.html">Find Companies</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="support.html">Support</a></li>
        </ul>
    
    </div>

    <section class="Details">
        <div class="dimageq">
            
        </div>
        <div class="ddetails">
            <h1>Qualcomm</h1>
            <h2>About the Company</h3>
                <p>We are at a pivotal moment in technology — one that will define generations to come. Industries — new and existing — are undergoing a digital transformation. And Qualcomm stands at the intersection of the key trends and technologies that are accelerating that transition. The time is now — for Qualcomm.


                    Qualcomm is the world’s leading wireless technology innovator and the driving force behind the development, launch, and expansion of 5G. When we connected the phone to the internet, the mobile revolution was born. Now, we’re bringing the benefits of mobile to new industries, including automotive, IoT (i.e. industrial, consumer and edge networking), and computing, and are leading the way to a world where everyone and everything is intelligently connected.
                   <br><br> Our leadership — from mobile to the connected intelligent edge — is driving demand for our industry-leading roadmap of relevant technologies. This is creating a significant opportunity for growth as we continue to successfully execute on our diversification strategy. Our expertise in 5G, AI, and beyond is going to help change everything, from reinventing businesses to transforming transportation to reimagining our cities.


                   The time is now for global innovation unlike anything we’ve seen. <br><br>

                   You’ll see information about hybrid workplace and these three dimensions in job postings. Throughout your recruiting experience, you can discuss flexibility with your recruiter and hiring manager to understand the degrees of flexibility for a role. <br><br>
                   We fundamentally believe that we need a culture founded in a growth mindset. It starts with a belief that everyone can grow and develop; that potential is nurtured, not pre-determined; and that anyone can change their mindset.

                   ​​​​​​​We need to be always learning and insatiably curious. We need to be willing to lean into uncertainty, take risks and move quickly when we make mistakes, recognizing failure happens along the way to mastery. And we need to be open to the ideas of others, where the success of others does not diminish our own.</p>

        
        <h2>Job Opennings</h2>
        <div class="job-container">
            
            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Associate Manager</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Contractual/Temporary</p>
                </div>
                <p class="date">Posted 1 day ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>UI-UX Designer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 6 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Java Developer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 5 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Manager</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 26 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>SAP ABAP Developer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Contractual/Temporary</p>
                </div>
                <p class="date">Posted 36 days ago</p>
            </div>
            </div>



        </div>
    </div>
    </section>
    
    <section class="search">
        <h3>Find other companies</h3>
        <form  class="jform"action="" >
            <input type="text" placeholder="Company name">
            <button type="Submit">Submit</button>
        </form>
    </section>
    <section class="newsletter">
        <div class="newstext">
            <h1>Sign Up for Newsletters</h1>
            <p>Get e-mail updates about latest recruitment details</p>
        </div>
        <form  class="form" action="">
            <input type="text" placeholder="Enter your mail address">
            <button>Sign-Up</button>
        </form>
    </section>

    <footer class="sectionp1">
        <div class="col">
            <img src="{% static 'css/Images/Screenshot 2023-05-21 120544.png' %}" alt="">
            <p><strong>Address:</strong>C. d'Arístides Maillol, 12, 08028 Hyderabad</p>
            <p><strong>Phone:</strong>(+91) 9059301111/(+91) 7842759904</p>
            <p><strong>Hours:</strong> 9:30 - 1:30</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <a href="#" class="fa fa-facebook"></a>  
                    <a href="#" class="fa fa-twitter"></a>  
                    <a href="#" class="fa fa-pinterest"></a>  
                    <a href="#" class="fa fa-linkedin"></a>  
                    <a href="#" class="fa fa-instagram"></a>  
                    <a href="#" class="fa fa-youtube"></a>  
    
                </div>
            </div>
        </div>
        <div class="col1">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
    </footer>
    
</body>
</html>