{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn more</title>
    <link rel="stylesheet" href="{% static  'css/Styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/"> <img src="{% static 'css/Images/Screenshot 2023-05-21 120544.png'%}"  class="logo"></a>
        <ul id="navbar">
            <li><a href="index(Homepage).html">Overview</a></li>
            <li><a  class="active" href="Companies.html">Find Companies</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="support.html">Support</a></li>
        </ul>
    
    </div>

    <section class="Details">
        <div class="dimagetcs">
            
        </div>
        <div class="ddetails">
            <h1>TCS</h1>
            <h2>About the Company</h3>
                <p>Tata Consultancy Services (TCS) is a global information technology (IT) services and consulting company headquartered in Mumbai, India. Founded in 1968, TCS is part of the Tata Group, one of India's largest and most respected business conglomerates. TCS is known for its expertise in providing IT services, digital solutions, and consulting to clients across various industries worldwide.
                    
                   <br><br>TCS serves clients across a wide range of industries, including banking and financial services, insurance, retail, manufacturing, healthcare, communications, and more. The company has a global presence, operating in over 46 countries and serving clients in more than 149 countries.<br><br>

                   TCS has a strong focus on research and innovation, investing in cutting-edge technologies and fostering a culture of continuous learning and skill development. The company operates several innovation labs and research centers worldwide, collaborating with clients, academia, and industry partners to drive technological advancements and create value-added solutions.<br><br>
                   TCS has consistently been recognized as one of the world's leading IT services and consulting companies. It has received numerous awards and accolades for its excellence in delivery, innovation, and corporate social responsibility initiatives.<br><br>

                   Overall, Tata Consultancy Services is renowned for its global presence, deep industry expertise, strong technology capabilities, and commitment to delivering high-quality IT services and consulting solutions to help organizations navigate the digital era and achieve business success.</p>

        <h2>Job Opennings</h2>
        <div class="job-container">
            
            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Back-end Developer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Contractual/Temporary</p>
                </div>
                <p class="date">Posted 9 Hours ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Software Engineer</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 3 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>HR Manager</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 4 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Sales Executive</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Regular/Permanent</p>
                </div>
                <p class="date">Posted 5 days ago</p>
            </div>
            </div>

            <div class="job">
                <div class="Jdetails">
                <h6><em>new</em></h6>
                <h2>Customer Care Services</h2>
                <p>Hyderabad,Telangana</p>
                <div class="con">
                    <p>🏢 Contractual/Temporary</p>
                </div>
                <p class="date">Posted 10 days ago</p>
            </div>
            </div>



        </div>
    </div>
    </section>
    
    <section class="search">
        <h3>Find other companies</h3>
        <form  class="jform"action="" >
            <input type="text" placeholder="Company name">
            <button type="Submit">Submit</button>
        </form>
    </section>
    <section class="newsletter">
        <div class="newstext">
            <h1>Sign Up for Newsletters</h1>
            <p>Get e-mail updates about latest recruitment details</p>
        </div>
        <form  class="form" action="">
            <input type="text" placeholder="Enter your mail address">
            <button>Sign-Up</button>
        </form>
    </section>

    <footer class="sectionp1">
        <div class="col">
            <img src="{% static 'css/Images/Screenshot 2023-05-21 120544.png'%}" alt="">
            <p><strong>Address:</strong>C. d'Arístides Maillol, 12, 08028 Hyderabad</p>
            <p><strong>Phone:</strong>(+91) 9059301111/(+91) 7842759904</p>
            <p><strong>Hours:</strong> 9:30 - 1:30</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <a href="#" class="fa fa-facebook"></a>  
                    <a href="#" class="fa fa-twitter"></a>  
                    <a href="#" class="fa fa-pinterest"></a>  
                    <a href="#" class="fa fa-linkedin"></a>  
                    <a href="#" class="fa fa-instagram"></a>  
                    <a href="#" class="fa fa-youtube"></a>  
    
                </div>
            </div>
        </div>
        <div class="col1">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
    </footer>
    
</body>
</html>